<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>All Shows</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
    <h1>All Netflix Shows</h1>
    <ul>
        <% for(let i = 0; i < shows.length; i++){ %>
            <li>
                <a href="/shows/<%=shows[i]._id%>"><%= shows[i].name %></a>
            </li>
        <%}%>
    </ul>
    <nav>
        <!-- <a href="/shows/new">Add a New Show</a> -->
        <form action="/shows/new"><button type="submit">Add New Show</button></form>
    </nav>
</body>
</html>