<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>New Show Page</title>
</head>
<body>
    <h1>New Show Page</h1>
    <form method="POST" action="/shows">
        New Show Name: <input type="text" name="name" /><br />
        Current Episode: <input type="text" name="currentEpisode" /><br />
        Completed Show: <input type="checkbox" name="complete" /><br />
        <input type="submit" value="Add Show" /><br />
    </form>
</body>
</html>