<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1><%= show.name %></h1>
    
    <a href="/shows/<%=show._id%>/edit">Edit</a><br />

    <form action="/shows/<%= show._id %>?_method=DELETE" method="POST">
        <button type="submit">Delete Show</button>
    </form>

    <a href="/shows">Back Home</a>
</body>
</html>